<div class="col-sm-8 blog-main">
 	<%= paginate @blogs, :page_links => false %>
  <%= render @blogs %>

  <nav class="blog-pagination">
  	<%= paginate @blogs, :page_links => false %>
  </nav>
</div>

